/*MAIN*/

/*VARIABLES*/
:root {
    --pewter: #dfdfe3;
    --scallop-seashell: #F1A17E;
    --olive-green: #A3AA5A;
    --nude: #E7C46A;
}

/*NAV BAR*/
#nav-bar {
    height: 75px;
    background-color: var(--pewter);
    top: 0;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 30px;
    margin: -10px;
}

#nav-links a {
    text-decoration: none;
    color: black;
}

#nav-links a:hover {
    color: var(--olive-green);
}

/*BOOK CARDS*/

.book-list {
  display: grid;
  /* Creates a responsive grid: items are at least 250px wide and fill the space */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; /* Space between cards */
  padding: 20px;
}

#featured-authors {
    width: 100%;
    display:flex;
    flex-direction: row;
    overflow-x: auto;
}

.book-image {
    width: 200px;
    height: 320px;
    margin-right: 20px;
    /* height: 400 px; */
}

.book-description {
    text-wrap: wrap;
}

#featured-authors .book-card {
    min-width: 540px;
}

.book-card {
  display: grid;
  grid-template-rows: auto 1fr; /* Image takes needed space, text takes the rest */
  border: solid 1px black;
  padding: 20px;
}

:not(#featured-authors) .book-card {
    width: 500px;
}

#dark-mode {
    font-size: 25px;
    background-color: grey;
    opacity: 0.75;
    box-shadow: 2px 2px 4px darkgrey;
    border-radius: 25%;
}